
@{
    ViewBag.Title = "ConfirmaRegistro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmaRegistro</h2>
<p>Su registro se ha completado</p>
<p>Le hemos en viado un correo a su email @Session["Usuario"].</p>
<p>Por favor. Verifíquelo.</p>

